# backend/requirements.txt
fastapi[all]>=0.104,<0.111
uvicorn[standard]>=0.24,<0.28
python-dotenv>=1.0,<1.1
psycopg2-binary>=2.9,<2.10  # For PostgreSQL
mysql-connector-python[pool]>=8.0.0  # For MySQL
google-generativeai>=0.3,<0.4
sqlparse>=0.4,<0.5
passlib[bcrypt]>=1.7,<1.8
python-jose[cryptography]>=3.3,<3.4
pydantic-settings>=2.1,<2.3
aiomysql>=0.1.1